body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://upload.wikimedia.org/wikipedia/uk/archive/7/7d/20131127215829%21Bliss.png') no-repeat center center fixed;
    background-size: contain;
}