body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form, #login-button {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

#playlist-container {
    background: #fff;
    padding: 20px;
}

#login-button {
    background-color: #1DB954; /* Spotify green */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

#login-button img {
    width: 20px; /* Adjust the size of the Spotify logo */
    margin-right: 8px;
}

#login-button:hover {
    background-color: #1ed760; /* Slightly lighter green on hover */
}
.spotify-login-button {
    background-color: #1DB954; /* Spotify Green */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.spotify-login-button::before {
    content: url('https://upload.wikimedia.org/wikipedia/commons/6/6b/Spotify_logo_2015.png'); /* Spotify Logo */
    width: 24px;
    height: 24px;
}
